* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

body{
  width: 100%;
  margin: 0;
}

button,
.send-button{
  cursor: pointer;
}

/*------Header------*/
header{
  background-color: #7477BF;
  height: 60px;
}

.header-items{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

h1 {
  color: white;
  font-weight: 300;
  font-size: 1.3em;
  margin-right: auto;
  padding: .5em;
}


.verticalRule {
  height: 60%;
  width: .2px;
  background-color: white;
  margin: .5em;
}

.profile-img{
  border-radius: 500px;
  height: 37px;
  padding: .5em;
}

sup {
  font-size: .5em;
}

.student-name{
  color: white;
  font-weight: 300;
  font-size: .8em;
  padding: .5em;
}

.alert-notification{
  display: block;
  position: absolute;
  right: 168px;
  background-color: rgb(114, 238, 144);
  height: 7px;
  width: 7px;
  border-radius: 5px;
}

.alert-dropdown{
  display: none;
  z-index: 100;
  position: absolute;
  top: 53px;
  right: 160px;
  background-color: #4D4C72;
  color: white;
  border-radius: 5px;
  width: 300px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
  
}
#triangle-up {
  position: absolute;
  top: -7px;
  right: 13px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #4D4C72;
}

.alert-dropdown ul{
  list-style-type: none;
  margin: 2em;
  padding: 0;
}

.alert-dropdown hr{
  margin-bottom: 10px;
}

.alert-dropdown li{
  margin: 0 auto;
  padding-bottom: 10px;
}

/*------Nav------*/


nav{
  background-color: #4D4C72;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-icon,
.nav-icon,
.social-icon {
  height: 40px;
  width: 40px;
  fill: white;
}

.nav-icon {
  padding: 0 .5em 0 .5em;
  align-items: center;
}

.social-icon{
  background-color: #7477BF;
  border-radius: 50px;
}

.bell{
  transition: transform 250ms;
}

.bell:hover{
  transform: translateY(-2px);
}

/*------Dashboard Grid------*/



.grid-container{
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-template-areas: 
      "traffic traffic"
      "daily-traffic daily-traffic"
      "mobile-users mobile-users"
      "social-stats social-stats"
      "new-members  new-members"
      "recent-activity  recent-activity"
      "message-user message-user"
      "settings settings";
}


/*
.grid-item > * {
  opacity: 0;
}
*/

.traffic{
  grid-area: traffic;
}

.daily-traffic{
  grid-area: daily-traffic;
}

.mobile-users{
  grid-area: mobile-users;
}

.social-stats{
  grid-area: social-stats;
}

.new-members{
  grid-area: new-members;
}

.recent-activity{
  grid-area: recent-activity;
}

.message-user{
  grid-area: message-user;
}

.settings{
  grid-area: settings;
}

/*------Row 1------*/

.traffic{
  border-bottom: 1px solid #D7D7D7;
}

.dash-tab {
  background-color: rgb(230, 230, 230);
}

.dashboard{
  color: black;
  background-color: white;
  border-right: 1px solid black;
  border-bottom: 1px solid white;
  width: 120px;
}

.alert{
  display: flex;
  background-color: #7477BF;
  width: 90%;
  height: 36px;
  position: relative;
  box-sizing: border-box;
  margin: 1em auto;
  border-radius: 5px;;
}

.alert-text {
  display: inline-block;
  font-size: 1em;
  color: white;
  font-weight: 300;
  padding: .5em;
}

.x-button {
  display: inline-block;
  cursor: pointer;
  font-size: 1em;
  color: white;
  font-weight: 300;
  padding: .5em;
  margin-left: auto;
  margin-right: 5px;
}

h3 {
  font-weight: 400;
  letter-spacing: .5px;
  font-size: .8em;
  padding: 1em;
}

.times{
  text-align: right;
  cursor: pointer;
  width: 80%;
  margin: 0 auto;
}

.traffic li {
  display: inline;
  padding: .5em;
}

.selected-time{
  background-color: #81C98F;
  color: white;
  border-radius: 50px;
}

.widget-container-full{
  height: 100%;
  width: 80vw;
  margin: 2em auto;
}

.widget-container-half{
  height: 80%;
  width: 40vw;
  margin: 1em auto;
}

canvas{
  max-height: 100%;
  max-width: 100%;
}

/*------Row 2 = Daily Traffic------*/

.daily-traffic{
  border-bottom: 1px solid #D7D7D7;
}

/*------Row 4 - Social Stats------*/

.social-stats{
  height: 400px;
  border-top: 1px solid #D7D7D7;;
  border-bottom: 1px solid #D7D7D7;
}

.stat{
  display: flex;
  background-color: #F5F5F5;
  border: 1px solid #CFCFCF;
  align-items: center;
  border-radius: 5px;
  height: 91px;
  width: 90%;
  margin: .5em 0;
}

.social-icon{
  display: inline-block;
  margin: 0 10px 0 10px;
  padding: .75rem;
}

.stat-text{
  display: inline-block;
}

.company{
  display: block;
  color: #7477BF;
  font-size: .9em;
}

.social-stat{
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 300;
}

.stats {
  width: 95%;
  margin: 0 auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

/*------Row 5 - New Members------*/

.new-members{
  border-bottom: 1px solid #D7D7D7;
}

.new-member{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 300;
  margin: 1.5em;
}

.new-member img{
  border-radius: 500px;
  height: 50px;
  width: 50px;
}

hr{
  width: 96%;
  margin: 0 auto;
  background-color: #D7D7D7;
  border: none;
  height: 1px;
}

/*------Row 6 - Recent Activity------*/

.recent-activity{
  border-bottom: 1px solid #D7D7D7;
}

.activity{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 300;
  margin: 1.5em;
}

.activity img{
  border-radius: 500px;
  height: 50px;
  width: 50px;
}

em{
  font-style: normal;
  font-weight: 400;
}

.right-arrow {
  display: none;
}

hr{
  width: 96%;
  margin: 0 auto;
  background-color: #D7D7D7;
  border: none;
  height: 1px;
}

/*------Row 7 - Message User------*/

.message-user{
  border-bottom: 1px solid #D7D7D7;
}

.search-input,
.message-input{
  display: block;
  margin: 1em auto;
  background-color: #F5F5F5;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  width: 95%;
  font-weight: 300;
}

.send-button{
  display: block;
  margin: 1em auto;
  background-color: #7477BF;
  color: white;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  width: 95%;
  height: 44px;
  font-weight: 300;
}


.search-input {
  height: 45px;
}

.message-input{
  height: 134px;
}

.sent-confirmation{
  display: none;
  position: relative;
  margin: 1em auto;
  background-color: #81C98F;
  color: white;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  width: 95%;
  height: 44px;
  font-weight: 300;
}

.sent-confirmation p{
  font-size: 14px;
  text-align: center;
  line-height: 42px;
}

.empty-field-error{
  display: none;
  position: relative;
  margin: 1em auto;
  background-color: #ba4747;
  color: white;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  width: 95%;
  height: 44px;
  font-weight: 300;
}

.empty-field-error p{
  font-size: 14px;
  text-align: center;
  line-height: 42px;
}


.autocompleteCont {
  display: none;
  margin: -10px auto 1em auto;
  padding: 0;
  background-color: #F5F5F5;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  width: 95%;
  font-weight: 300;
}

.autocompleteCont :first-child{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.autocompleteCont :last-child{
  border-bottom: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.autoCompleteName {
  list-style-type: none;
  padding: .5em;
  background-color: white;
  border-bottom: 1px solid #D7D7D7;
}

.autoCompleteName:hover {
  background-color: rgb(234, 234, 234);
}

/*------Row 8 - Settings------*/

.text-and-toggle{
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  margin-left: 1em;
  width: 95%;
}

.email-slider-on{
  display: flex;
  cursor: pointer;
  width: 95px;
  height: 35px;
  margin-left: auto;
  background-color: #7477BF;
  border: 1px solid #D7D7D7;
  border-radius: 40px;
  align-items: center;
}

.email-slider-on input{
  opacity: 0;
  height: 100%;
  color:green;
  border: 3px solid brown;
}

.email-slider-off{
  display: none;
  cursor: pointer;
  width: 95px;
  height: 35px;
  margin-left: auto;
  background-color: #999999;
  border: 1px solid #D7D7D7;
  border-radius: 40px;
  align-items: center;
}

.email-slider-on p {
  color: white;
  margin-left: 10px;
}

.email-slider-off p {
  color: white;
  margin-right: 10px;
}

.profile-slider-on{
  display: flex;
  cursor: pointer;
  width: 95px;
  height: 35px;
  margin-left: auto;
  background-color: #7477BF;
  border: 1px solid #D7D7D7;
  border-radius: 40px;
  align-items: center;
}

.profile-slider-off{
  display: none;
  cursor: pointer;
  width: 95px;
  height: 35px;
  margin-left: auto;
  background-color: #999999;
  border: 1px solid #D7D7D7;
  border-radius: 40px;
  align-items: center;
}

.profile-slider-on p {
  color: white;
  margin-left: 10px;
}

.profile-slider-off p {
  color: white;
  margin-right: 10px;
}

.toggle-circle-on{
  height: 25px;
  width: 25px;
  border-radius: 20px;
  border: 1px solid #D7D7D7;
  background-color: white;
  margin-right: 6px;
  margin-left: auto;
}

.toggle-circle-off{
  height: 25px;
  width: 25px;
  border-radius: 20px;
  border: 1px solid #D7D7D7;
  background-color: white;
  margin-right: auto;
  margin-left: 6px;
}



.settings-buttons{
  display: flex;
  margin: 1em auto;
  width: 95%;
}

.settings button{
  display: inline-block;
  color: white;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  width: 49%;
  height: 44px;
  font-weight: 300;
}

.save-button{
  background-color: #7477BF;
  margin-right: auto;
}

.cancel-button{
  background-color: #999999;
}

.timezone-dropdown{
  display: block;
  margin: 1em auto;
  background-color: #F5F5F5;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  width: 95%;
  height: 45px;
  font-weight: 300;
}


.switch {
  position: relative;
  display: inline-block;
  width: 95px;
  height: 34px;
  margin-left: auto;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.on{
  display: none;
}

.off{
  position: absolute;
  color: white;
  top: 8px;
  right: 8px;
}


input:checked ~ .slider > .off {
  display: none;
}

input:checked ~ .slider > .on {
  display: block;
  position: absolute;
  color: white;
  top: 8px;
  left: 8px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7477BF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7477BF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(60px);
  -ms-transform: translateX(60px);
  transform: translateX(60px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*------Media Queries------*/

@media (max-width: 270px) {
  .social-stat{
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
  }
  .stat-text{
    padding: 1rem 0 1rem .2rem;
  }

  .alert-text{
    font-size: 10px;
  }

  .times{
    text-align: center;
    padding: 0;
  }
}

@media (min-width: 768px) {

  /*------Site Grid------*/

  .site-grid-container {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-areas: 
      "header header"
      "nav main"
      "nav main"
      "nav main"
  }

  header{
    grid-area: header;
  }
  nav{
    grid-area: nav;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    padding-top: 20px;
  }

  .nav-icon{
    margin-bottom: 10px;
  }

  main{
    grid-area: main;
  }

  /*------Dashboard Grid------*/

  .grid-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-areas: 
        "traffic traffic"
        "daily-traffic mobile-users"
        "social-stats social-stats"
        "new-members  new-members"
        "recent-activity  recent-activity"
        "message-user message-user"
        "settings settings";
    }

    .daily-traffic{
      border-right: 1px solid #D7D7D7;
      border-bottom: none;
    }

    .widget-containter-full{

      width: 80vw;
    }

    .widget-containter-half{
      background-color: rgb(127, 255, 0, .4);

      width: 40vw;
      margin: 2em auto;
    }
    
    
    /*------Row 4 - Social Stats------*/

    .social-stats{
      height: 170px;
    }

    .stats {
      display: flex;
      position: relative;
      flex-direction: row;
      align-items: center;
    }

    .stat{
      display: flex;
      margin: 0 .25em;
    }

    /*------Row 5 - New Members------*/

    .new-member{
      display: flex;
      flex-direction: row;
      text-align: left;
      align-items: center;
      font-weight: 300;
      margin: none;
    }

    .name-and-email{
      margin-left: 1em;
    }

    .new-member p {
      margin-left: auto;
    }

    /*------Row 6 - Recent Activity------*/

    .activity{
      display: flex;
      flex-direction: row;
      text-align: left;
      align-items: center;
      font-weight: 300;
      margin: 1.5em;
    }

    .activty-and-time{
      margin-left: 1em;
    }

    .right-arrow {
      display: inline-block;
      margin-left: auto;
    }


     /*------Row 8 - Settings------*/

    .text-and-toggle{
      display: flex;
      align-items: center;
      margin-bottom: 1em;
      margin-left: 1em;
      width: 50%;
    }

}

@media (min-width: 1024px) {
  .grid-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-areas: 
        "traffic traffic"
        "daily-traffic mobile-users"
        "social-stats social-stats"
        "new-members  recent-activity"
        "message-user settings"
  }

  .new-members{
    border-right: 1px solid #D7D7D7;
  }

  .message-user{
    border-right: 1px solid #D7D7D7;
  }
}
